body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #734A65;
}

#grad {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, darkblue, red);
    margin: 0;
    padding: 0;
    z-index: -1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 19%;
    height: 100vh;
    width: 300px;
    background-color: rgba(115, 74, 101, 0.8);
    padding: 20px;
    box-sizing: border-box;
}

.header h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
    font-weight: bold;
    margin-top: 30px;
    color: #FFFFFF;
    text-align: center;
}

.header h2 {
    font-family: "Rage Italic", cursive;
    margin-top: 50px;
    color: #FFFFFF;
    text-align: center;
}

.sidebar-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.sidebar-content p {
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    max-width: 90%;
    font-size: 1.2em;
    line-height: 1.5;
}

.buttons {
    position: fixed;
    top: 10px;
    text-align: center;
    left: 20%;
    width: 100%;
}

.buttons button {
    background-color: #734A65;
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: indianred;
}

.form {
    background: #734A65;
    border-radius: 20px;
    max-width: 40%;
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
    right: 5%;
    border-top: 10px solid #734A65;
    width: calc(100% - 40px);
    box-sizing: border-box;
    z-index: 1;
}

.formEntry {
    background-color: #ffffff;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: calc(100% - 50px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

.pageTitle {
    color: #FFFFFF;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto 5px 20px;
}

.secondaryTitle {
    color: #FFFFFF;
    margin: 0 auto 5px 20px;
}

.submit {
    background-color: #5e1898;
    color: #FFFFFF;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: calc(100% - 50px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit:hover {
    background-color: #fc4424;
}

.sendMessageBtn {
    display: none;
    background-color: #734A65;
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sendMessageBtn:hover {
    background-color: indianred;
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    .sidebar {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .header h1, .header h2 {
        font-size: 2rem;
        margin-top: 10px;
    }

    .profile-info p, .profile-form .form-field label, .profile-form .edit-btn {
        font-size: 1rem;
    }

    .buttons {
        position: relative;
        top: auto;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 3px;
        width: 100%;
        justify-items: center;
        text-align: center;
        margin-bottom: 20%;
    }

    .buttons button {
        padding: 5px 10px;
        font-size: 0.8rem;
        width: 100%; /* Make buttons take full width within their grid cells */
    }

    .main-content {
        position: static;
        width: 90%;
        margin: 10px auto;
    }

    .action-buttons {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .action-btn {
        padding: 10px 20px;
        width: auto;
    }
    .wrapper{
        display: none;
    }
}
