body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #4B0082 0%, #8B0000 50%, #FF0000 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 90%;
    width: 60%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

.stats-section {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.stats-section button {
    background-color: #4B0082;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats-section button:hover {
    background-color: #8B0000;
}

.stats-section div {
    margin-top: 10px;
    display: none;
}

.stats-section p {
    color: #777777;
    margin: 5px 0;
}
