body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4B0082 0%, #8B0000 50%, #FF0000 100%);
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}
.order {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
h2, h3 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}
