/* General body styles */
html, body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #4B0082 0%, #8B0000 50%, #FF0000 100%);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content {
    background-color: rgba(20, 47, 224, 0.35);
    width: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(food.jpg) repeat center fixed;
    background-size: cover;
    opacity: 10%;
    z-index: -1;
}

/* Heading styles */
h1, h2 {
    color: whitesmoke;
    text-align: center;
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table styles */
table {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

thead {
    background: rgba(0, 0, 0, 0.9);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

tr:first-child {
    border: 0px black; /* Thicker border for the first table header */
    border-radius: 8px; /* Optional: Rounded corners */
    border-style: solid;
}

th {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

td {
    background-color: rgba(255, 255, 255, 0.8); /* Light background for table rows */
    color: #333;
    border-bottom: 1px solid #ddd;
}

tr:hover td {
    background-color: rgba(255, 255, 255, 1); /* Hover effect for table rows */
}

/* Button styles */
button {
    background-color: #7F00FF; /* Deep Purple */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #FF00FF;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button.accept {
    background-color: #4CAF50;
}

button.accept:hover {
    background-color: #388E3C;
}

button.decline {
    background-color: #F44336;
}

button.decline:hover {
    background-color: #D32F2F;
}

button.mark-done {
    background-color: #FFC107;
}

button.mark-done:hover {
    background-color: #FFA000;
}
