/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4B0082 0%, #8B0000 50%, #FF0000 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
}


.content {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    border-radius: 8px;
    overflow: scroll;
}

h2 {
    color: #333;
    text-align: center;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
