body, html {
    height: 100%;
    margin: 0;
}
.background {
    background-image: linear-gradient(to bottom right, darkblue, red);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    max-width: 90%;
}
form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.password-wrapper input {
    flex-grow: 1;
}
.password-wrapper i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
label {
    font-size: 16px;
    line-height: 40px;
    color: #5e1898;
}
.button-container {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}
button {
    height: 40px;
    padding: 10px 20px;
    margin-top: 10px;
    width: 90%;
    border: none;
    background-color: #5e1898;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #fc4424;
    color: white;
}