body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, darkblue, red);
}

.home-button {
    position: fixed;
    top: 5px;
    left: 10px;
    padding: 5px 10px;
    background-color: #5e1898;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1500;
}

.home-button:hover {
    background-color: #fc4424;
}

nav {
    background-color: white;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #5e1898;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #fc4424;
}

section {
    padding: 20px;
    margin-top: 60px;
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: calc(80% - 220px);
    margin-left: 60px;
    margin-right: auto;
    border-radius: 10px;
}

.order-summary {
    width: 20%;
    min-height: 250px;
    position: fixed;
    top: 60px;
    right: 60px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: white;
    color: white;
    clear: both;
    width: 100%;
}

footer p {
    color: #5e1898;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.item-name, .item-description {
    margin: 5px 0;
}

.item-description {
    font-size: 0.9em;
    color: #666;
}

.item-details p {
    margin-bottom: 10px;
}

.delete-btn {
    padding: 3px 6px;
    margin-left: 10px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}


button {
    padding: 5px 10px;
    background-color: #5e1898;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.item-details button:not(.checkout) {
    position: absolute;
    right: 15px;
    bottom: 25px;
    margin: 0;
}


.checkout {
    align-self: center;
}

button:hover {
    background-color: #fc4424;
}
 @media screen and (max-width: 768px) {
    .order-summary {
        position: static;
        width: auto;
        margin-top: 20px;
        right: 0;
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        justify-content: center;
    }

    section {
        padding: 20px 10px;
        max-width: 70%;
    }
}
@media screen and (max-width: 600px) {
    body{
        font-size: 70%;
    }
}
